html, body {
    background-color: #181a1b;
    margin: 0;
    font-family: "Lexend", serif;
}

/* Container Geral */
.container {
    display: flex;
    min-height: 100vh;
    font-family: "Lexend", serif;
    background-color: #181a1b;
}

/* Menu Lateral */
.sidebar {
    width: 250px;
    background-color: #181a1b;
    color: #fefefe;
    padding: 20px;
    height: 100vh;
    font-family: "Lexend", serif;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    padding: 20px;
    color: #fefefe;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar ul li a:hover {
    border-radius: 15px;
    padding: 20px;
    background-color: #4f1271;
    text-decoration-line: underline;
    transition:background-color 0.3s ease;
    border-radius: 15px;
}

.sidebar ul li a img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

/* Área Principal */
.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #232628;
    border-radius: 40px;
    color: #fefefe;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    text-align: center;
    width: 400px;
    display: flex;
    align-items: center;
}

#searchInput {
    width: 100%;
    padding: 10px;
    border-radius: 15px 0 0 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-right: none;
}

.clear-search {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    margin-left: -1px;
}

.search-button img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.search-results {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    right: 400px;
    max-height: 300px;
    overflow-y: auto;
    display: auto;
    width: 380px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.search-results .result-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    color: #181a1b;
}

.search-results .result-item:hover {
    background-color: #f9f9f9;
}

/* Barra Lateral Direita */
.right-sidebar {
    width: 300px;
    color: #fefefe;
    background-color: #181a1b;
    padding: 20px;
}

.releases {
    margin-top: 20px;
}

.releases h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.release-list {
    margin-top: 20px;
}

.release-item {
    display: flex;
    align-items: center;
    background-color: #242526;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.release-item img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 10px;
}

.release-info h4 {
    margin: 0 0 5px;
}

.release-info p {
    margin: 0;
    color: #555;
}

.release-item img:hover {
    cursor: pointer;
}

.release-info h4:hover {
    cursor: pointer;
    text-decoration: underline;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding: 20px;    
}
.category-button{
    background-color: #181a1b;    
    width: 179px;
    border: none;
    border-radius: 40px;
    color: #fefefe;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    transition:background-color 0.3s ease;
    font-family: "Lexend", serif;

}
.category-button:hover{
    background-color: #4f1271;
}
/* Busca Avançada */
#advanced-search {
    background-color: #181a1b;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid #4f1271;
}

#advanced-search h2 {
    margin-top: 0;
}

.search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#search-bar {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#hide-filters {
    background-color: #4f1271;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

#hide-filters:hover {
    background-color: #6d1789;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-row label {
    margin-right: 10px;
    min-width: 120px; /* Alinhamento dos labels */
}

.form-row input, .form-row select {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#search-form button {
    background-color: #4f1271;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-form button:hover {
    background-color: #6d1789;
}

/* Lista de Animes */
#anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #181a1b;
    border-radius: 20px;
}

.anime-item {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #232628;
    color: #fefefe;
    transition: transform 0.3s ease;
}

.anime-item:hover {
    transform: translateY(-10px);
}

.anime-item img {
    width: 100%;
    border-radius: 10px;
}

button#toggle-view {
    background-color: #4f1271;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#toggle-view:hover {
    background-color: #6d1789;
}