body{
background-color: #181a1b;
margin: 0;
}
/* Container Geral */
.container {
    display: flex;
    height: 100vh;
    font-family: "Lexend", serif;
    background-color: #181a1b;
}

/* Menu Lateral */
.sidebar {
    width: 250px;
    background-color: #181a1b;
    color: #fefefe;
    padding: 20px;
    height: 100vh;
    font-family: "Lexend", serif;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    padding: 20px;
    color: #fefefe;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.sidebar ul li a:hover{
    border-radius: 15px;
    padding: 20px;
    background-color:#4f1271;
    text-decoration-line: underline;

}

.sidebar ul li a img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

/* Área Principal */
.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #232628;
    border-radius: 40px;
    color: #fefefe;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 400px;
    padding: 14px;
    border-radius: 15px;
    border: none;
}

.clear-search {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: -20px;
}

.highlights {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
}

.scroll-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    width: 100%;
}

.scroll-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fefefe;
    border: none;
    cursor: pointer;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.anime-card {
    background-color: none  ;
    color: #fefefe;
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    display: inline-block;
}

.anime-card img {
    width: 100%;
    height: 380px;
    border-radius: 10px;
    cursor: pointer;
}

.anime-card p {
    margin: 10px 0 0 0;
}
.anime-card p:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Barra Lateral Direita */
.right-sidebar {
    width: 300px;
    color: #fefefe;
    background-color: #181a1b;
    padding: 20px;
}

.profile {
    text-align: center;
}

.profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.favorites {
    background-color: #181a1b;
    border-radius: 15px;
    padding: 20px;
    color: #fefefe;
}

.character-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.character-link{
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.character-card { 
    display: flex; 
    align-items: center; 
    color: #fefefe; 
    padding: 10px; 
    border-radius: 10px; 
    width: 100%; 
    background-color: #242526; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    margin: 10px 0; }

.character-card img{
    width: 100%;
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}
.character-info h3{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.character-info h3:hover{
    text-decoration: underline;
}
.character-info p{
    font-size: 14px;
    margin: 5px 0 0;
}
.character-info p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.character-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.favorite-info {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha à direita dentro da coluna */
    margin-top: 10px;
}

.favorite-count {
    margin-right: 10px;
}

.favorite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: red;
}

.favorite-button:hover {
    transform: scale(1.2);
}
