body {
    font-family: 'Lexend', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container, .success-message {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.register-container h1, .success-message h2 {
    margin-bottom: 20px;
}

.register-container label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.register-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-container button, .success-message button {
    width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-container button:hover, .success-message button:hover {
    background-color: #34495e;
}

.error-message {
    color: red;
    margin-top: 10px;
}
